# Configurações do Banco de Dados
POSTGRES_USER=aetherium_user
POSTGRES_PASSWORD=sua_senha_super_segura
POSTGRES_DB=aetherium_db

# Chaves JWT (Gere chaves RSA256 em base64 e cole aqui)
JWT_PRIVATE_KEY="sua_chave_privada_aqui"
JWT_PUBLIC_KEY="sua_chave_publica_aqui"

# URLs de Frontend que podem acessar a API (separadas por vírgula)
# No ambiente AWS, coloque a URL da sua Vercel
CORS_ORIGIN=https://seu-front-end-na-vercel.vercel.app